* {
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background-image: url("../image/wood-planks-texture-planks-background-wood-texture-boards-texture-vertical-planks.jpg");
}
header{
    box-shadow: 0px 2px 15px rgb(116, 59, 3);
    background-color: rgb(92,64,51);
    padding: 10px;
    align-items: center;
    
}

header li{
    transition: 0.3s;
}

header li:hover{
    font-size: large;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

main{
   
    background-image: linear-gradient(to right, rgba(92,64,51,0.5), rgba(89, 31, 4, 0.5), rgba(92,64,51,0.5));
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
#contato form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#contato div{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(92,64,51);

    padding: 10px;
}